.header {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    border: 1px solid black;
}

.burger-logo {
    width: 100px;
    height: 100px;
}

.nav-items {
    display: flex;
}

.nav-items li {
    padding: 40px;
    list-style: none;
}