.header {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    border: 1px solid black;
}

.burger-logo {
    width: 100px;
    height: 100px;
}

.nav-items {
    display: flex;
}

.nav-items li {
    padding: 40px;
    list-style: none;
}

.body {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 10px;
}

.restaurant-card {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    height: 300px;
    width: 200px;
    margin: 10px;
}

.restaurant-image {
    width: 100px;
    height: 100px;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
}